body {
  background-color: whitesmoke;
  margin: 0;
}

header {
  background-color: rgb(50,50,50);
  height: 6rem;
  color: whitesmoke;
  font-size: 4rem;
  display: flex;
  align-items: flex-end;
  padding-left: 1rem;
}

#main {
  max-width: 40rem;
}

#project-items {
  margin: 1rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project {
  background: none;
  border: 2px solid rgb(50,50,50);
  border-radius: 1rem;
  font-size: 1.8rem;
  padding: 0 0.5rem;
  transition-duration: 0.2s;
}
.project:hover, .selected {
  background-color: rgb(50,50,50);
  color: whitesmoke;
}
.project:active {
  background: none;
  color: rgb(50,50,50);
}

#add-project-input {
  margin-left: 0.5rem;
}

.selected:active {
  background-color: rgb(50,50,50);
  color: whitesmoke;
}

#add-task {
  margin-top: 0.5rem;
}

#add-project, #add-task, #delete-project {
  font-size: 1.2rem;
  background: none;
  border: none;
}
#add-project:hover, #add-task:hover, #delete-project:hover {
  transform: scale(1.05);
  font-weight: 900;

}
#add-project:active, #add-task:active, #delete-project:active {
  transform: scale(1);
}

#add-project-form {
  margin-left: 0.5rem;
}

#task-items {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem;
  row-gap: 0.5rem;
}

.task {
  border: 1px solid rgb(50,50,50);
  border-radius: 1rem;
  display: flex;;
  flex-direction: column;
}

.task-upper {
  display: flex;  
  gap: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.task > .task-lower {
  display: none;
}

.task.chosen > .task-lower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2rem;
  margin: 0.5rem;
}

.task-check {
  margin-left: auto;
}
.task-date {
  min-width: 3rem;
  text-align: center;
}

#lower-buttons {
  display: flex;
}
#lower-buttons > div {
  display: flex;
  flex-direction: column;
}

form {
  margin-left: 0.5rem;
  gap: 0;
}

#delete-project {
  width: 5rem;
  margin-left: auto;
  margin-right: 0rem;
  color: #900;
  align-self: flex-start;
}

label {
  text-align: center;
}

textarea {
  resize: none;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(50,50,50);
  border-radius: 1rem;
  padding: 1rem;
}

.delete-task {
  font-size: 1.1rem;
  color: #900;
  background: none;
  border: none;
}
.delete-task:hover {
  transform: scale(1.3);
  font-weight: 900;
}
.delete-task:active {
  transform: scale(1);
}

#test {
  width: 50px;
  height: 50px;
  background-color: rgb(154, 155, 154);
  text-decoration: line-through;
}

.task-checked {
  opacity: 0.5;
  background-color: none;
}